.visibility-hidden {
	position: absolute;
	margin: -1px;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

/* * {
	border: 0.5px solid #c0c0c079;
} */

body {
		/* Color styles */
	--disable: #bbbec1;
	--bold: #767a82;
	--substrate: #f8f8f8;
	--selection: #e5e8eb;
	--b-g4: #ffffff;
	--blue: #2489ff;
	--grey: #858585;
	display: flex;
	width: 100vw;
	height: 100vh;
	min-height: 40em;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

	text-transform: uppercase;
	color: var(--bold);
	font-family: Open Sans;
	font-size: 14px;
	background-color: var(--b-g4);
}

::selection {
	background: var(--selection);
}

main
{
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
}

.logo {
	display: block;
	position: absolute;
	top: -9em;
	margin:0 auto;
	width: 6em;
	height: 6em;
	border: 0.25em solid var(--selection);
}

.logo-arrow {
	fill: var(--selection);
}

h2 {
	margin-top: 0;
	margin-bottom: 0.8em;
	color: var(--disable);
	font-size: 1.3em;
	font-weight: 900;
}

.server-address {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2em;
	padding: 2em 2.4em 2.4em;
	background-color: var(--substrate);
	color: var(--disable);
}

.address-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.server-address ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.server-address li,
input[type="number"] {
	width: 2.7em;
	height: 1.3em;
	border: 2px solid var(--disable);
	border-radius: 4px;
	line-height: 1.2em;
	color: var(--bold);
	font-size: 1.3em;
}

.server-address li:nth-child(2n) {
	width: 0.5em;
	border: none;
}

.server-address li {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

input[type="number"] {
	width: 4.2em;
	padding: 0;
	outline: none;
	border-color: var(--disable);
	background-color: transparent;
	transition: border-color 1s, color 1s;
	text-align: center;
	font-family: Open Sans;
	font-size: 1.3em;
	font-weight: 500;
	color: var(--bold);
}

input[type="number"]:focus {
	border-color: var(--blue);
	color: var(--blue);
}

.server-address:hover input[type="number"] {
	border-color: var(--blue);
	color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}


/*=============================================
=         Start / Stop server button         =
=============================================*/

.main-action,
.play-btn {
	width: 14em;
	height: 2.8em;
	border: none;
	border-radius: 1.4em;
	text-transform: uppercase;
	color: var(--blue);
	font-family: Open Sans;
	font-weight: bold;
}

.main-action {
	position: relative;
	margin-bottom: 1.4em;
	padding: 0;
	padding-right: 2.5em;
	overflow: hidden;
	outline: none;
	background-color: unset;
	cursor: pointer;
	transition: color .3s, background-color .1s;
	text-align: right;
	letter-spacing: 0.04em;
	font-size: 1.25em;
}

.main-action:hover {
	color: white;
}

.main-action:active {
	background-color: var(--blue);
}

.play-btn {
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: var(--blue);
	transform: translateX(-11.2em);
	transition: transform 0.3s;
}

.main-action:hover .play-btn {
	transform: translateX(-0.1em);
}

.play-icon {
	position: absolute;
	top: 0;
	left: 0;
}

/*=====  End of Start / Stop server button  ======*/




/*=============================================
=                Admin button                =
=============================================*/

.admin-btn {
	position: relative;
	width: 12.4em;
	height: 2.4em;
	outline: none;
	border: 2px solid var(--blue);
	border-radius: 1.4em;
	background-color: white;
	cursor: pointer;
	transition: background-color .1s, color .1s;
	text-transform: uppercase;
	color: var(--blue);
	font-family: Open Sans;
	font-size: 1.4em;
	font-weight: bold;
}

.admin-btn-wrapper
{
	position: absolute;
	bottom: -3.5em;
}


.admin-btn .label,
.admin-btn .icon-arrow {
	backface-visibility: hidden;
	perspective: 1000;
	transform: translateX(1.5em);
}

.admin-btn .label {
	display: inline-block;
	transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.admin-btn .icon-arrow {
	top: 0.9em;
	width: 2em;
	height: 0.5em;
	fill: var(--blue);
	transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1), fill .2s;
}

.admin-btn .icon-arrow.before {
	position: absolute;
	left: 0.8em;
	margin-right: 1em;
	transform-origin: left center;
}

.admin-btn .icon-arrow.after {
	position: absolute;
	right: 0.8em;
	opacity: 0;
	margin-left: 1em;
	transform: translateX(-2em) scaleX(0.1);
	transform-origin: right center;
}

.admin-btn:hover .label {
	transform: translateX(-1.5em);
}

.admin-btn:hover .icon-arrow.before {
	opacity: 0;
	transform: translateX(1.5em) scaleX(0.1);
}

.admin-btn:hover .icon-arrow.after {
	opacity: 1;
	transform: translateX(-1em) scaleX(1);
}

.admin-btn:active {
	background-color: var(--blue);
	color: white;
}

.admin-btn:active .icon-arrow {
	fill: white;
}

.admin-btn:disabled {
	background-color: white;
	color: var(--disable);
	border-color: var(--disable);
}

.admin-btn:disabled .icon-arrow {
	fill: var(--disable);
}

.admin-btn:disabled:hover .label {
	transform: translateX(1.5em);
}

.admin-btn:disabled:hover .icon-arrow.before {
	opacity: 1;
	transform: translateX(1.5em) scaleX(1);
}

.admin-btn:disabled:hover .icon-arrow.after {
	opacity: 0;
	transform: translateX(-2em) scaleX(0.1);
}

/*=====  End of Admin button  ======*/



/*=============================================
=            Loader            =
=============================================*/

#loader
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #bbbec17c;
	top: 0;
	left: 0;
}

/*=====  End of Loader  ======*/


