/* *
{
	border: 0.5px solid #7e7e7e2c;
} */


body
{

		/* Color styles */
	--disable: #bbbec1;
	--bold: #767a82;
	--p: #3d3c42;
	--substrate: #f8f8f8;
	--selection: #e5e8eb;
	--b-g1: #e4e8f0;
	--b-g2: #9ea4b1;
	--b-g3: #f2f4f6;
	--b-g4: #ffffff;
	--blue: #2489ff;
	--blue-error: #b1d6ff;
	--red: #ff2e51;
	--red-error: #ffbcc7;
	--tooltip: #ffffff;
	box-sizing: border-box;
	display: flex;
	position: relative;
	position: relative;
	margin: 0;
	width: 100vw;
	padding: 0;
	overflow: hidden;
	cursor: default;
	text-transform: uppercase;
	color: var(--bold);
	font-family: Open Sans, sans-serif;;

	font-size: calc(12px + 0.1vw);
	font-weight: bold;
}

h2
{
	font-size: 1.2em;
	font-weight: 800;
}

.header
{
	display: flex;
	height: 4.6em;
	padding: 0.1em 1.2em;
}


h1
{
	display: none;
}

.scroll
{
	overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track
{
	border-radius: 3.5px;
	background-color: #f8f8f8;
}

.scroll::-webkit-scrollbar
{
	width: 7px;
	background-color: #f8f8f8;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 3.5px;
	background-color: var(--disable);
}

.main
{
	margin: 1em 6px;
}

.list-header
{
	align-items: flex-end;
	height: 4em;
	color: var(--disable);
	font-size: 0.85em;
	font-weight: 600;
}


* [data-tooltip]
{
	position: relative;
}

* [data-tooltip]::after,
* [data-tooltip]::before
{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: transform 200ms ease, opacity 200ms;
	box-shadow: 0px 0px 8px 0px rgba(61, 60, 66, 0.1);
}

* [data-tooltip]::before
{
	content: attr(data-tooltip);
	background: var(--tooltip);
	color: var(--p);
	font-size: 10px;
	font-weight: bold;
	padding: 5px 15px;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 14px;
	z-index: 51;
}

* [data-tooltip]::after
{
	width: 0;
	height: 0;
	border: 6px solid transparent;
	content: '';
	z-index: 50;
}

* [data-tooltip]:hover:after,
* [data-tooltip]:hover:before {
	visibility: visible;
	opacity: 0.85;
	transform: translateY(0px);
}

/*  top tooltip */
* [data-tooltip][data-tooltip-position="top"]:before
{
	bottom: calc(100% + 14px);
	left: -10px;
}

* [data-tooltip][data-tooltip-position="top"]:after
{
	border-top-color: var(--tooltip);
	border-bottom: none;
	bottom: calc(100% + 8px);
	left: 10px;
}

/*  left tooltip */
* [data-tooltip][data-tooltip-position="left"]:before
{
	top: calc(50% - 12px);
	right: calc(100% + 8px);
}

* [data-tooltip][data-tooltip-position="left"]:after
{
	border-left-color: var(--tooltip);
	border-right: none;
	top: calc(50% - 6px);
	right: calc(100% + 2px);
}

/*  right tooltip */
* [data-tooltip][data-tooltip-position="right"]:before
{
	top: calc(50% - 12px);
	left: calc(100% + 8px);
}

* [data-tooltip][data-tooltip-position="right"]:after
{
	border-right-color: var(--tooltip);
	border-left: none;
	top: calc(50% - 6px);
	left: calc(100% + 2px);
}

/*  bottom tooltip */
* [data-tooltip][data-tooltip-position="bottom"]:before
{
	top: calc(100% + 14px);
	left: -10px;
}

* [data-tooltip][data-tooltip-position="bottom"]:after
{
	border-bottom-color: var(--tooltip);
	border-top: none;
	top: calc(100% + 8px);
	left: 10px;
}


/* animations */
* [data-tooltip][data-tooltip-position="top"]::before,
* [data-tooltip][data-tooltip-position="top"]::after {
	transform: translateY(10px);
}

* [data-tooltip][data-tooltip-position="top"]:hover::after,
* [data-tooltip][data-tooltip-position="top"]:hover::before
{
	transform: translateY(0px);
}

* [data-tooltip][data-tooltip-position="right"]::before,
* [data-tooltip][data-tooltip-position="right"]::after
{
	transform: translateX(0px);
}

* [data-tooltip][data-tooltip-position="right"]:hover::after,
* [data-tooltip][data-tooltip-position="right"]:hover::before
{
	transform: translateX(10px);
}

* [data-tooltip][data-tooltip-position="bottom"]::before,
* [data-tooltip][data-tooltip-position="bottom"]::after
{
	transform: translateY(-10px);
}

* [data-tooltip][data-tooltip-position="bottom"]:hover::after,
* [data-tooltip][data-tooltip-position="bottom"]:hover::before
{
	transform: translateY(0px);
}

* [data-tooltip][data-tooltip-position="left"]::before,
* [data-tooltip][data-tooltip-position="left"]::after
{
	transform: translateX(0px);
}

* [data-tooltip][data-tooltip-position="left"]:hover::after,
* [data-tooltip][data-tooltip-position="left"]:hover::before {
	transform: translateX(-10px);
}
